{% extends "layout.jinja" %}

{% block styles %}
<link href="/assets/lib/enlighterjs/dist/enlighterjs.min.css" rel="stylesheet" type="text/css">
{% endblock  %}

{% block page_body %}

<div class="row">
  <div class="col pd-b-20">
    <div class="bd-b">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
              <li class="breadcrumb-item"><a href="#">Queues</a></li>
              <li class="breadcrumb-item"><a href="#">Email</a></li>
            </ol>
          </nav>
          <h4 class="mg-b-0">Job ID: SOME JOB ID HERE</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <ul class="nav nav-line nav-line-profile">
      <li class="nav-item">
        <a href="" class="nav-link d-flex align-items-center active">Followers <span class="badge">340</span></a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Following <span class="badge">1,563</span></a>
      </li>
      <li class="nav-item d-none d-sm-block">
        <a href="" class="nav-link">Request  <span class="badge">19</span></a>
      </li>
    </ul>
    <div class="row row-xs mg-b-25">
      <div class="col">
        <div id="accordion">
          <h6>What does royalty free mean?</h6>
          <div class="pd-0 m-0">
            <pre class="code">
            def find_missing(sequence)
              consecutive     = sequence.each_cons(2)
              differences     = consecutive.map { |a,b| b - a }
              sequence        = differences.max_by { |n| differences.count(n) }
              missing_between = consecutive.find { |a,b| (b - a) != sequence }
              missing_between.first + sequence
            end
            find_missing([2,4,6,10])
            </pre>
          </div>
          <h6>What do you mean by item and end product?</h6>
          <div class="pd-0 m-0">
            <pre class="code">
            def find_missing(sequence)
              consecutive     = sequence.each_cons(2)
              differences     = consecutive.map { |a,b| b - a }
              sequence        = differences.max_by { |n| differences.count(n) }
              missing_between = consecutive.find { |a,b| (b - a) != sequence }
              missing_between.first + sequence
            end
            find_missing([2,4,6,10])
            </pre>
          </div>
          <h6>What are some examples of permitted end products?</h6>
          <div class="pd-0 m-0">
            <pre class="code">
            def find_missing(sequence)
              consecutive     = sequence.each_cons(2)
              differences     = consecutive.map { |a,b| b - a }
              sequence        = differences.max_by { |n| differences.count(n) }
              missing_between = consecutive.find { |a,b| (b - a) != sequence }
              missing_between.first + sequence
            end
            find_missing([2,4,6,10])
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 mg-t-40 mg-lg-t-0">
    <div class="d-flex">
      <div class="profile-skillset flex-fill">
        <h4><a href="" class="link-01">1.4k</a></h4>
        <label>Retries</label>
      </div>
      <div class="profile-skillset flex-fill">
        <h4><a href="" class="link-01">2.8k</a></h4>
        <label>Followers</label>
      </div>
      <div class="profile-skillset flex-fill">
        <h4><a href="" class="link-01">437</a></h4>
        <label>Following</label>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between mg-b-20">
      <h6 class="tx-uppercase tx-semibold mg-b-0">Job Details</h6>
    </div>
    <ul class="list-unstyled media-list mg-b-15">
      <li class="media align-items-center">
        <h6 class="mg-b-2"><a href="" class="link-01">Last Ran</a></h6>
        <span class="tx-13 tx-color-03">Product Designer</span>
      </li>
      <li class="media align-items-center">
        <h6 class="mg-b-2"><a href="" class="link-01">Last Ran</a></h6>
        <span class="tx-13 tx-color-03">Product Designer</span>
      </li>
      <li class="media align-items-center">
        <h6 class="mg-b-2"><a href="" class="link-01">Last Ran</a></h6>
        <span class="tx-13 tx-color-03">Product Designer</span>
      </li>
      <li class="media align-items-center">
        <h6 class="mg-b-2"><a href="" class="link-01">Last Ran</a></h6>
        <span class="tx-13 tx-color-03">Product Designer</span>
      </li>
    </ul>


    
  </div>
</div><!-- row -->
{% endblock %}

{% block script_footer %}
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/lib/feather-icons/feather.min.js"></script>
<script src="/assets/lib/jqueryui/jquery-ui.min.js"></script>
<script src="/assets/js/dashforge.js"></script>
<script src="/assets/lib/enlighterjs/dist/enlighterjs.min.js"></script>
<!-- Init Code -->
<script type="text/javascript">
$(()=>{
  $('#accordion').accordion({
    heightStyle: 'content'
  });
  $('pre').each(function(i){
    console.log(this)
    $(this).enlight({
      language: 'ruby',
      theme: 'bootstrap4',
      lineoffset: 0,
      highlight: ''
    })
  })
})
</script>
{% endblock  %}