<div class="card">
  <div class="card-header pd-t-20 pd-b-0 bd-b-0 d-flex justify-content-between">
    <h6 class="lh-5 mg-b-0">Errors</h6>
  </div>
  <div class="card-body pd-0 pos-relative ht-120">
    <div class="pos-absolute t-10 l-20 z-index-10  m-b-30">
      <div class="d-flex d-lg-block d-xl-flex align-items-end">
        <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1 text-danger">{{errors_count}}</h3>
        <p class="tx-11 tx-color-03 mg-b-0">
          last 15 minutes
        </p>
      </div>
    </div>
    <div class="d-sm-flex" style="position: absolute; bottom: 0">
      <span id="errors-sparkline">{{errors_list}}</span>
    </div>
  </div>
</div>