<div class="card mg-b-10">
  <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
    <div>
      <h6 class="mg-b-5">Your Queues</h6>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-dashboard mg-b-0">
      <thead>
        <tr>
          <th class="text-dark">Status</th>
          <th class="text-dark">Name</th>
          <th class="text-right text-dark">No. Workers</th>
          <th class="text-right text-dark">Jobs</th>
          <th class="text-right text-dark">No. Of Jobs</th>
          <th class="text-right text-dark">Status</th>
          <th class="text-right text-dark">Active Workers</th>
        </tr>
      </thead>
      <tbody> 
      {% for queue in queues %}
        <tr>
          <td class="tx-color-03 tx-normal">{{queue.status}}</td>
          <td class="tx-color-03 tx-normal">{{queue.name}}</td>
          <td class="tx-medium text-right">{{queue.total_workers}}</td>
          <td class="text-right tx-teal">{{queue.jobs}}</td>
          <td class="text-right tx-teal">{{queue.size}}</td>
          <td class="text-right tx-pink">{{queue.status}}</td>
          <td class="tx-medium text-right">{{queue.running_workers}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>