<div class="card">
  <div class="card-header pd-t-20 pd-b-0 bd-b-0 d-flex justify-content-between">
    <h6 class="lh-5 mg-b-0">Requests</h6>
  </div>
  <div class="card-body pd-0 pos-relative ht-150">
    <div class="pos-absolute t-10 l-20 z-index-10  m-b-30">
      <h1 class="tx-normal tx-rubik mg-b-0 mg-r-5 text-secondary">165</h1>
    </div>
    <br>
    <div class="d-sm-flex" style="position: absolute; bottom: 0">
      <span id="requests-sparkline">3,4,4,7,5,9,10,6,4,4,7,5,9,10,4,7,5,9,10,4,7,5,9,10</span>
    </div>
  </div>
</div>