{% macro queue_progress(name, style, total, percent) %}
<div class="col-6 col-sm-4 col-md-3 col-lg">
  <h4 class="tx-normal tx-rubik mg-b-10 mg-r-5">{{total}}</h4>
  <div class="progress ht-2 mg-b-10">
    <div class="progress-bar bg-df-2 bg-{{style}}" data-toggle="tooltip" title="{{percent}}% of jobs" style="width: {{percent}}%" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <h6 class="tx-uppercase tx-spacing-1 tx-semibold tx-10 tx-color-02 mg-b-2 text-{{style}}">{{name}}  {{percent}}%</h6>
</div>
{% endmacro %}
