<header class="navbar navbar-header navbar-header-fixed">
  <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
  <div class="navbar-brand">
    <a href="index.html" class="df-logo">dash<span>forge</span></a>
  </div>
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="index.html" class="df-logo">dash<span>forge</span></a>
      <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
    </div>
    <ul class="nav navbar-menu">
      <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
      <li class="nav-item active"><a href="/" class="nav-link"><i data-feather="pie-chart"></i> Dashboard</a></li>
      <li class="nav-item"><a href="/queues" class="nav-link"><i data-feather="package"></i> Queues</a></li>
      <li class="nav-item"><a href="/busy" class="nav-link"><i data-feather="package"></i> Busy</a></li>
      <li class="nav-item"><a href="/completed" class="nav-link"><i data-feather="package"></i> Completed</a></li>
      <li class="nav-item"><a href="/failed" class="nav-link"><i data-feather="package"></i> Failed</a></li>
      <li class="nav-item"><a href="/dead" class="nav-link"><i data-feather="package"></i> Dead</a></li>
      <li class="nav-item"><a href="/scheduled" class="nav-link"><i data-feather="box"></i> Scheduled</a></li>
    </ul>
  </div>
</header>
