<div class="card card-body">
  <div class="media d-block d-sm-flex align-items-center">
    <div class="d-inline-block pos-relative">
      <span class="peity-donut"
        data-peity='{ "fill": ["#69b2f8","#e5e9f2"], "height": 110, "width": 110, "innerRadius": 46 }'>69,31</span>

      <div class="pos-absolute a-0 d-flex flex-column align-items-center justify-content-center">
        <h3 class="tx-rubik tx-spacing--1 mg-b-0">69%</h3>
        <span class="tx-9 tx-semibold tx-sans tx-color-03 tx-uppercase">Reached</span>
      </div>
    </div>
    <div class="media-body mg-t-20 mg-sm-t-0 mg-sm-l-20">
      <h6 class="mg-b-5">Average Speed of Answer</h6>
      <p class="lh-4 tx-12 tx-color-03 mg-b-15">Measure how quickly support staff answer incoming calls.</p>
      <h3 class="tx-spacing--1 mg-b-0">0m:20s <small class="tx-13 tx-color-03">/ Goal: 0m:10s</small></h3>
    </div>
  </div>
</div>