<div class="card">
  <div class="card-header pd-t-20 pd-b-0 bd-b-0 d-flex justify-content-between">
    <h6 class="lh-5 mg-b-0">Jobs Received</h6>
  </div>
  <div class="card-body pd-0 pos-relative">
    <div class="pos-absolute t-10 l-20 z-index-10">
      <div class="d-flex align-items-baseline">
        <h1 class="tx-normal tx-rubik mg-b-0 mg-r-5">{{counts.busy}}</h1>
        <p class="tx-11 tx-color-03 mg-b-0"><span class="tx-medium tx-success">0.3% <i
              class="icon ion-md-arrow-down"></i></span> than last month</p>
      </div>
      <p class="tx-12 tx-color-03 wd-60p">The total number of complaints that have been received.</p>
    </div>

    <div class="chart-sixteen">
      <div id="flotChart2" class="flot-chart"></div>
    </div>
  </div>
</div>