<div class="card">
  <div class="card-header pd-b-0 pd-x-20 bd-b-0">
    <h6 class="mg-b-0">Agent Performance Points</h6>
  </div>
  <div class="card-body pd-t-25">
    <div class="media">
      <div class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
      <div class="media-body mg-l-15">
        <h6 class="tx-13 mg-b-2">Katherine Lumaad</h6>
        <p class="tx-color-03 tx-12 mg-b-10">Technical Support</p>
        <div class="progress ht-4 op-7 mg-b-5">
          <div class="progress-bar wd-85p" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <div class="d-flex justify-content-between tx-12">
          <span class="tx-color-03">Executive Level</span>
          <strong class="tx-medium">12,312 points</strong>
        </div>
      </div>
    </div>
    <div class="media mg-t-25">
      <div class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
      <div class="media-body mg-l-15">
        <h6 class="tx-13 mg-b-2">Adrian Monino</h6>
        <p class="tx-color-03 tx-12 mg-b-10">Sales Representative</p>
        <div class="progress ht-4 op-7 mg-b-5">
          <div class="progress-bar bg-success wd-60p" role="progressbar" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="d-flex justify-content-between tx-12">
          <span class="tx-color-03">Master Level</span>
          <strong class="tx-medium">10,044 points</strong>
        </div>
      </div>
    </div>
    <div class="media mg-t-25">
      <div class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
      <div class="media-body mg-l-15">
        <h6 class="tx-13 mg-b-2">Rolando Paloso</h6>
        <p class="tx-color-03 tx-12 mg-b-10">Software Support</p>
        <div class="progress ht-4 op-7 mg-b-5">
          <div class="progress-bar bg-indigo wd-45p" role="progressbar" aria-valuenow="45" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="d-flex justify-content-between tx-12">
          <span class="tx-color-03">Super Elite Level</span>
          <strong class="tx-medium">7,500 points</strong>
        </div>
      </div>
    </div>
    <div class="media mg-t-20">
      <div class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt=""></div>
      <div class="media-body mg-l-15">
        <h6 class="tx-13 mg-b-2">Dyanne Rose Aceron</h6>
        <p class="tx-color-03 tx-12 mg-b-10">Sales Representative</p>
        <div class="progress ht-4 op-7 mg-b-5">
          <div class="progress-bar bg-pink wd-40p" role="progressbar" aria-valuenow="40" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <div class="d-flex justify-content-between tx-12">
          <span class="tx-color-03">Elite Level</span>
          <strong class="tx-medium">6,870 points</strong>
        </div>
      </div>
    </div>
  </div>
</div>