<div class="card card-body">
  <div class="media d-block d-sm-flex align-items-center">
    <div class="d-inline-block pos-relative">
      <span class="peity-donut"
        data-peity='{ "fill": ["#65e0e0","#e5e9f2"], "height": 110, "width": 110, "innerRadius": 46 }'>70,30</span>

      <div class="pos-absolute a-0 d-flex flex-column align-items-center justify-content-center">
        <h3 class="tx-rubik tx-spacing--1 mg-b-0">86%</h3>
        <span class="tx-9 tx-semibold tx-sans tx-color-03 tx-uppercase">Reached</span>
      </div>
    </div>
    <div class="media-body mg-t-20 mg-sm-t-0 mg-sm-l-20">
      <h6 class="mg-b-5">Average Jobs Latency</h6>
      <p class="lh-4 tx-12 tx-color-03 mg-b-15">The average time taken to complete a job.</p>
      <h3 class="tx-spacing--1 mg-b-0">7m:32s</h3>
    </div>
  </div>
</div>