{% import "dashboard/macros/queue_progress.jinja" %}

<div class="card">
  <div class="card-header d-sm-flex justify-content-between bd-b-0 pd-t-20 pd-b-0">
    <div class="mg-b-10 mg-sm-b-0">
      <h6 class="mg-b-5">Activity</h6>
    </div>
  </div>
  <div class="card-body">
    <div class="chart-fifteen">
      <canvas id="running-jobs" style="height: 350px;" data-chart='{{chart}}'></canvas>
    </div>
  </div>
  <div class="card-footer pd-y-15 pd-x-20">
    <div class="row row-sm">
      {{ queue_progress("Total", "primary", counts.total, 100) }}
      {{ queue_progress("Completed", "success", counts.completed, counts.completed_percent) }}
      {{ queue_progress("Retry", "info", counts.retry, counts.retry_percent) }}
      {{ queue_progress("Dead", "danger", counts.dead, counts.dead_percent) }}
    </div>
  </div>
</div>