<div class="card">
  <div class="card-header pd-b-0 pd-x-20 bd-b-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <h6 class="mg-b-0">Recent Activities</h6>
      <p class="tx-12 tx-color-03 mg-b-0">Last activity: 2 hours ago</p>
    </div>
  </div>
  <div class="card-body pd-20">
    <ul class="activity tx-13">
      <li class="activity-item">
        <div class="activity-icon bg-primary-light tx-primary">
          <i data-feather="clock"></i>
        </div>
        <div class="activity-body">
          <p class="mg-b-2"><strong>Louise</strong> added a time entry to the ticket <a href=""
              class="link-02"><strong>Sales Revenue</strong></a></p>
          <small class="tx-color-03">2 hours ago</small>
        </div>
      </li>
      <li class="activity-item">
        <div class="activity-icon bg-success-light tx-success">
          <i data-feather="paperclip"></i>
        </div>
        <div class="activity-body">
          <p class="mg-b-2"><strong>Kevin</strong> added new attachment to the ticket <a href=""
              class="link-01"><strong>Software Bug Reporting</strong></a></p>
          <small class="tx-color-03">5 hours ago</small>
        </div>
      </li>
      <li class="activity-item">
        <div class="activity-icon bg-warning-light tx-orange">
          <i data-feather="share"></i>
        </div>
        <div class="activity-body">
          <p class="mg-b-2"><strong>Natalie</strong> reassigned ticket <a href="" class="link-02"><strong>Problem
                installing software</strong></a> to <strong>Katherine</strong></p>
          <small class="tx-color-03">8 hours ago</small>
        </div>
      </li>
      <li class="activity-item">
        <div class="activity-icon bg-pink-light tx-pink">
          <i data-feather="plus-circle"></i>
        </div>
        <div class="activity-body">
          <p class="mg-b-2"><strong>Katherine</strong> submitted new ticket <a href="" class="link-02"><strong>Payment
                Method</strong></a></p>
          <small class="tx-color-03">Yesterday</small>
        </div>
      </li>
      <li class="activity-item">
        <div class="activity-icon bg-indigo-light tx-indigo">
          <i data-feather="settings"></i>
        </div>
        <div class="activity-body">
          <p class="mg-b-2"><strong>Katherine</strong> changed settings to ticket category <a href=""
              class="link-02"><strong>Payment &amp; Invoice</strong></a></p>
          <small class="tx-color-03">2 days ago</small>
        </div>
      </li>
    </ul>
  </div>
</div>