<div class="card mg-t-20">
  <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between bd-b-0 pd-b-0">
    <div>
      <h6 class="mg-b-5">Job Traces</h6>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-dashboard mg-b-0">
      <thead>
        <tr>
          <th><span class="tx-medium">Status</span></th>
          <th><span class="tx-medium">Job ID</span>/th>
          <th class="text-right"><span class="tx-medium">Retries</span></th>
          <th class="text-right"><span class="tx-medium">Failed At</span></th>
          <th class="text-right"><span class="tx-medium">Done At</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tx-color-03 tx-normal"><span class="badge badge-success">done</span></td>
          <td class="tx-medium">c089b3d1-3f94-4701-96aa-e5d5ece9396a</td>
          <td class="text-right tx-teal">3 left</td> 
          <td class="text-right tx-pink">- $3,023.10</td>
          <td class="tx-medium text-right">$28,670.90</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>